*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  font-family: 'Jost', sans-serif;  

}

.text{
    padding: 250px 100px;
    width: 800px;
    height: 867px;
    text-align: left;
}
.main{
    background-color: #f3f3f3;
    height: 867px;
    display: flex;
    gap: 20px;
}
h4{
    color: #cf0018;
    font-size: 24px;
}
h1,h2{
    font-size: 80px;
}

h2{
    color: #cf0018;
    padding-top: 10px;
}
button{
    width: 180px;
    height: 47px;
    background-color: #000;
    color: #fff;
}
.store{
    color: #fff;
    margin-right: 5px;
}
.img4{
    position: absolute;
    margin: 0;
    padding: 0;
}
.images {
    display: flex;
}

.image-container {
    position: relative; 
    margin: 10px; 
}

.product_card{
    height: 740px;
    padding: 100px 70px;
    display: flex;
    justify-content: space-around;
}


.card {
    position: relative;
    margin: 10px;
    overflow: hidden;
    flex-wrap: wrap;
}

.card_img {
    width: 420px;
    height: 540px;
    z-index: -1; 
     transition: transform 0.3s ease;
}
.card:hover .card_img {
    transform: scale(1.1); /* Увеличение картинки при наведении */
}
.vkladka {
    background-color: #ffffff;
    width: 350px;
    height: 70px;
    display: flex;
    position: absolute;
    padding: 20px 50px;
    gap: 30px;
    top: 80%;
    font-size: 20px;
    font-weight: bold;
}

p{
    color: #4b4b4b;
    font-weight: normal;
    margin-top: 4px;
    font-size: 17px;
}






@media (max-width: 1440px) {
    .text{
        padding: 250px 70px;
        width: 450px;
        height: 867px;
        text-align: left;
    }
    h4{
        color: #cf0018;
        font-size: 24px;
    }
    h1,h2{
        font-size: 60px;
    }
    
    h2{
        color: #cf0018;
        padding-top: 10px;
    }
    .card_img {
        width: 390px;
        height: 520px;
        z-index: -1; 
         transition: transform 0.3s ease;
    }
    .product_card{
        height: 740px;
        padding: 100px 10px;
        display: flex;  
    }
    
    
  }
 
  @media (max-width: 1024px) {
    .card_img {
        width: 300px;
        height: 400px;
        z-index: -1; 
         transition: transform 0.3s ease;
    }
    .product_card{
        height: 740px;
        padding: 100px 5px;
        display: flex;  
        justify-content: space-around;
    }
    .main{
        flex-direction: column;
        height: auto;
        width: auto;
    }
    .text {
        display: flex;
        align-items: center;

        padding: 10px 00px;
        width: 800px;
        z-index: 1;
        height: 357px;
        
        flex-direction: column; /* Изменение направления флекс-контейнера */
    }
    
    .main-title {
        display: flex;
        flex-direction: column; /* Изменение направления флекс-контейнера */
        align-items: center;
    }
    
    h4 {
        color: #cf0018; 
        font-size: 24px;
        margin: 0 0 10px;
    }
    
    h1, h2 {
        font-size: 60px;
        margin: 0;
    }
    
    h2 {
        color: #cf0018;
        padding-top: 10px;
        margin-bottom: 20px;
    }
    
    button {
        width: 180px;
        height: 47px;
        background-color: #000;
        color: #fff;
    }
    .image-container {
        width: auto;
        height: auto;
        max-width: 100%; /* Максимальная ширина будет пропорционально экрану */
      
    }
    
  }



  @media (max-width: 768px) {
   
  }


  @media (max-width: 325px) {
   
  }