*{  
  margin: 0;  
  padding: 0;  
  box-sizing: border-box;  
}  
.upHeader{  
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
  color: #666666;  
  background-color: #f3f3f3;  
  padding:10px 100px;  
}  
.free{  
  margin: 0;   
  font-family: 'Jost', sans-serif;  
} 
.Home{
  width: 100%;
} 
.logo {  
  display: flex;  
  gap: 15px;   
  padding-top: 5px;  
}  
.logo p{  
  font-family: 'Jost', sans-serif;  
  margin-bottom: 5px;  
} 
.logos{ 
  font-size: 20px; 
  display: flex; 
  gap: 5px; 
} 
.face:hover{ 
  color: rgb(214, 27, 27); 
  transition: .7s; 
} 
.header{ 
  display: flex; 
  justify-content: space-between; 
  padding: 0 5%;
} 
.headerCatalog{ 
  display: flex; 
  gap: 20px; 
  padding-top: 20px;
  padding-left: 100px;
} 
.account-logo{ 
  font-size: 30px; 
} 
.heart{ 
  font-size: 30px; 
  font-weight: bold; 
}
.logo2 {
  font-size: 1.8vw; 
  gap: 2vw; 
  display: flex;
}
.catalog{
  display: flex;
  gap: 15px;
  font-size: 18px;
  font-family: 'Jost', sans-serif;  
  font-weight: 500;
}
.luan{
  width: auto;
  max-height: 70px;
  padding: 20px 0;
}
.down{
  padding-top: 4px;
  height: 20px;
}
.search{
  border: 0;
  background-color: #f3f3f3;
  color: #666666;
  padding: 5px 8px;
}
.input-container {
  position: relative;
  display: inline-block;
}
.search-input {
  padding-right: 30px; 
  background-image: none; 
  border: 0;
  background-color: #f3f3f3;
  color: #666666;
  padding: 10px 30px;
  font-family: 'Jost', sans-serif;  
}
.search-icon {
  position: absolute;
  top: 55%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; 
}
.burger-menu {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
   margin-left: 200px;
  position: absolute;
  top: 77px; 
  right: 0;
  z-index: 1;
  color: aquamarine;
}
.burger-menu-item {
  font-size: 18px;
  padding: 10px 0;
}











@media (max-width: 1440px) {
  .logo2 {
    font-size: 2vw;
    gap: 2vw;
    margin-right: 20vw;
  }
  .logo{
    margin-right: 13vw;
  }
  .search-icon {
    position: absolute;
    top: 43%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; 
  }
  .logos p{
    margin-right: 17vw;
  }
  .cur{
    margin-right: 5vw;
  }
}



@media (max-width: 768px) {
  .logo2 {
    font-size: 30px; 
    gap: 3vw; 
    margin-right: 20vw; 
  }
  .catalog p{
    display: none;
  } 
  .headerCatalog{ 
    display: flex; 
    gap: 20px; 
    padding: 20px 50px;
  }
 .upHeader{
    flex-direction: column;
    text-align: center;
 }
 .free{
    margin-right: 13vw;
 }
  .headerCatalog,
  .luan {
    padding: 20px 5%;
  } 
  .search-icon {
    position: absolute;
    top: 53%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; 
  }
}



@media (max-width: 375px) {
  .logo2 {
    font-size: 30px;
    gap: 1.4vw; 
    margin-top: 5px;
  }
  .upHeader{
    width: 500px;
  }
  .luan{
    padding: 20px 0px;
  }
  .search-input { 
    background-image: none; 
    border: 0;
    background-color: #f3f3f3;
    color: #666666;
    padding: 10px 10px 10px 0;
    font-family: 'Jost', sans-serif;  
  }
}